* {
	margin: 0;
	padding: 0;
	font-family: "Verdana";
}

h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: #ffd200;
	font-size: 16px;
	text-decoration: underline;
}

body {
	background-image: url("images/bg_02.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#container {
	margin: 25px auto;
	width: 828px;
	height: auto;
}

.header {
	width: 830px;
}

.logo {
	width: 290px;
	height: 136px;
	float: left;
}

.caption {
	width: 437px;
	height: 45px;
	padding: 30px 0 0 70px;
	float: left;
}

.content {
	width: 798px;
	margin-top: 12px;
	padding: 15px;
	background-image: url("images/bg_row.png");
}

.content h2 {
	color: #a1c9ff;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
}

.content p {
	padding-top: 15px;
	color: #dbdbdb;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
}

.content ul {
	color: #dbdbdb;
	font-size: 14px;
	line-height: 22px;
	margin: 10px 50px;
}

.content img {
	padding: 5px;
}

.content input[type="text"], input[type="password"] {
	color: #0000ff;
	font-family: "Verdana";
	font-size: 14px;
	border: 1px solid #003366;
	padding: 6px;
}

.content select {
	color: #0000ff;
	font-family: "Verdana";
	font-size: 14px;
	border: 1px solid #003366;
	padding: 6px;
	width: 240px;
}

.content input[type="submit"] {
	background-image: url("images/button.jpg");
	padding: 10px;
	margin: 0;
	color: #ffffff;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #003366;
	cursor: pointer;
}

.content .error {
	color: #e80000;
	font-size: 18px;
}

.blocks {
	width: 830px;
	margin-top: 12px;
}

.block {
	width: 238px;
	height: 245px;
	padding: 15px;
	margin-right: 12px;
	background-image: url("images/bg_row.png");
	text-align: left;
	float: left;
}

.block h2 {
	color: #a1c9ff;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
}

.block p {
	padding-top: 15px;
	color: #dbdbdb;
	font-size: 14px;
	line-height: 22px;
}

.footer {
	width: 828px;
	margin-top: 12px;
}

.footer h2 {
	color: #a1c9ff;
	font-size: 19px;
	font-weight: normal;
	text-align: left;
}

.footer p {
	padding-top: 15px;
	color: #dbdbdb;
	font-size: 16px;
	line-height: 22px;
	text-align: left;
}

.footer .footerLeft {
	width: 202px;
	padding: 42.5px 33px;
	margin-right: 12px;
	background-image: url("images/bg_row.png");
	float: left;
}

.footer .footerRight {
	width: 508px;
	padding: 20px;
	background-image: url("images/bg_row.png");
	float: left;
}

.footer .footerRight .icon {
	width: 50px;
	padding: 12px 20px 0 0;
	float: left;
}

.clear {
	clear: both;
}

/* Navigation */
ul.main_menu {
	position: relative;
	list-style: none;
	padding: 17px 0 0 0;
	margin: 0 0 0 10px;
	width: auto;
	color: #ffffff;
	text-decoration: none;
	float: left;
	z-index: 10000;
}

ul.main_menu li {
	font-size: 14px;
	float: left;
	zoom: 1;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
}

ul.main_menu a:hover {
	background: none;
	color: #ffffff;
	text-decoration: none;
}

ul.main_menu a:active {
	color: #ffffff;
	text-decoration: none;
}

ul.main_menu li a {
	display: block;
	padding: 13px 10px;
	margin-right: 5px;
	color: #ffffff;
	text-decoration: none;
	background-image: url("images/nav_01.png");
}

ul.main_menu li:last-child a {
	border-right: none;
} /* Doesn't work in IE */

ul.main_menu li.hover, ul.main_menu li:hover {
	color: #ffffff;
}

ul.main_menu li a:hover { 
	display: block;
	padding: 13px 10px;
	margin-right: 5px;
	color: #ffffff;
	text-decoration: none;
	background-image: url("images/nav_02.png");
}

ul.main_menu li a:active { 
	color: #ffffff;
}

/* LEVEL TWO */
ul.main_menu ul {
	width: 222px;
	visibility: hidden;
	position: absolute;
	border-top: 1px solid  #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	top: 100%;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0 ;
}

ul.main_menu ul li {
	font-size: 12px;
	background: #ffffff;
	color: #333333; 
	border-left: 1px solid #D7D7D7;
	float: none;
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

/* IE 6 & 7 Needs Inline Block */
ul.main_menu ul li a {
	border-right: none;
	width: 200px;
	padding: 10px;
	display: inline-block;
	color: #333333; 
}

ul.main_menu ul li a {
	font-size: 12px;
	background: #ffffff;
	color: #333333; 
} 

ul.main_menu ul li a:hover {
	font-size: 12px;
	background: #2a96d4;
	color: #ffffff; 
} 

/* LEVEL THREE */
ul.main_menu ul ul {
	left: 100%;
	top: 0; 
	border-right: 1px solid #D7D7D7;
	width: 270px;
}

ul.main_menu ul ul li a {
	border-right: none;
	width: 259px;
	display: inline-block;
	color: #333333; 
}

ul.main_menu li:hover > ul {
	visibility: visible;
}

ul li.nav_other {
	background-color: #666666;
	color: #333333; 
}

/* Side panel styles */

#panel {
	width: 60px;
	cursor: pointer;
	position: fixed;
	padding: 0;
	margin: 0;
	bottom: 10px;
	right: 10px;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

#panel a {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#social {
	width: 40px;
	background-image: url("images/bg_row.png");
	cursor: pointer;
	position: relative;
	padding: 10px;
	margin: 0;
	top: 0;
	right: 0;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
}

#socialItems {
	width: 40px;
	position: relative;
	margin: 15px 0 0 0;
	top: 0;
	right: 0;
	display: none;
	text-align: center;
}

#socialItems img {
	position: relative;
	margin-bottom: 5px;
}

#top {
	width: 40px;
	height: 13px;
	background-image: url("images/bg_row.png");
	cursor: pointer;
	position: relative;
	padding: 10px;
	margin: 5px 0 0 0;
	top: 0;
	right: 0;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
}

#twitter {
	width: 180px;
	height: auto;
	background-image: url("images/bg_row.png");
	cursor: pointer;
	position: fixed;
	padding: 10px;
	margin: 5px 10px 0 0;
	top: 0;
	right: 0;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
}

#twitter h2 {
	color: #a1c9ff;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	padding: 0 5px 5px 5px;
}

#twitter p {
	padding: 5px;
}
